star_map/data/star_databases/athyg_v24.csv
star_map/pics/*
star_map/data/athyg_v24.csv
star_map/data/Standard_Mega_Star_Chart_1/*
star_map/data/dso_subset.csv
star_map/data/dso.csv
star_map/data/nogit/*